@import 'src/styles/base-component';

:host {
  display: block;
  position: relative;
  height: 100%;
  background-color: white;
  border-radius: $content-radius;
}
.customerListContainer {
  height: 100%;
}
.customerFilter {
  padding: rem-calc(16px);
}
.customerDetail {
  color: $app-grey_dark;
  font-size: rem-calc(15px);
  text-align: right;

  strong {
    color: $app-primary;
  }
}
