<header class="appHeader">
    <div class="title">
        <span>Mes factures</span>
    </div>

  <div class="appHeader-menu">
      <div class="menu-container">
          <div class="menu-tag">
              <i class="ion-person"></i>
          </div>
          <div class="menu-user">
              <span class="user-name">{{user?.name}}</span>
              <span class="user-role">Administrateur</span> <!--TODO : inserer le rôle du user-->
          </div>
      </div>

      <div class="logout">
          <button class="button small" (click)="logout()"><i class="ion-power icon-sidebar"></i></button>
      </div>


      <!-- [TIMELINE] -->

    <div class="history" [ngClass]="{'isOpen' : activityMenuOpen}" (click)="activityMenuOpen = !activityMenuOpen">
        <button class="button small"><i class="ion-social-rss"></i></button>

        <div class="history-detail">
            <h5 class="history-detail-title">{{'activity.feed' | translate}}</h5>

            <div class="timeline">
                <div class="row timeline-item" *ngFor="let activity of activities" routerLink="{{generateUrl(activity)}}">
                    <time datetime="03/10/2017" class="column small-12 timeline-item-date">
                        <i class="ion-clock"></i>{{getMomentFromNow(activity.timestamp)}}
                    </time>
                    <div class="column small-12 text-right timeline-item-user">
                        {{'activity.modify.by' | translate}} <span class="badge small space-left-5">{{activity.userInfo.name}}</span>
                    </div>
                    <div class="cell small-24 timeline-item-content">
                        <div class="timeline-item-marker"></div>
                        <h6 class="timeline-item-title">{{ 'activity.type.' + activity.type | translate}}
                             {{'activity.objectType.' + activity.objectType | translate }}</h6>
                        <p class="timeline-item-desc">
                            <span class="timeline-item-desc-blue">{{activity.objectBusinessKey}}</span>
                        </p>
                    </div>
                </div>
            </div>
         </div>
    </div>
  </div>
</header>


<!--<a class="appHeader-menu-actuality"></a> -->