@import '../../../../styles/base-component';

@include new('appHeader') {
  position: fixed;
  top: 0;
  width: calc(100% - #{$sidebar-width-sm});
  display: flex;
  height: rem-calc($appHeader-height);
  background-color: $appHeader-bg-color;
  box-shadow: rem-calc(4px 0px 5px) rgba(#aaa, 0.5);
  z-index: 999999;

  @include breakpoint(large only) {
    width: calc(100% - #{$sidebar-width-sm});
  }

  @include has('menu') {
    flex: 1;
    display: flex;
    justify-content: flex-end;


    .menu-container {
      width: 170px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;

      .menu-tag {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $app-grey_light;
        width: rem-calc(40px);
        height: rem-calc(40px);
        border-radius: rem-calc(20px);
        overflow: hidden;

        i {
          position: absolute;
          bottom: 0;
          color: $app-grey;
          font-size: rem-calc(30px);
        }
      }

      .menu-user {
        display: flex;
        flex-direction: column;
        margin-right: rem-calc(18px);

        .user-name {
          font-weight: 600;
          color: $app-primary_medium;
          text-align: right;
        }
        .user-role {
          font-size: rem-calc(13px);
          color: $app-grey;
          font-weight: 500;
          text-align: right;
        }
      }
    }
  }
}

.logout {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    height: rem-calc($appHeader-height);
    border-radius: 0;
    background-color: transparent;
    padding: rem-calc(8px) rem-calc(5px) rem-calc(8px) rem-calc(18px);

    &:hover {
      box-shadow: none;
    }

    i {
      color: $app-primary;
      font-size: 20px;
      margin: 0;

      &:hover {
        color: $app-primary_medium;
      }
    }
  }
}

@include new('history') {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    height: rem-calc($appHeader-height);
    border-radius: 0;
    background-color: transparent;

    &:hover {
      box-shadow: none;
    }

    i {
      color: $app-grey;
      font-size: 20px;
      margin: 0;

      &:hover {
        color: $app-secondary;
      }
    }
  }

  @include when('isOpen') {
    position: relative;

    .ion-navicon-round:before {
      content: '\f10b';
    }

    .history-detail {
      transform: translate(0);
    }
  }

  @include has('detail') {
    display: block;
    position: absolute;
    top: $appHeader-height;
    right: 0;
    width: 25vw;
    transform: translate(25vw);
    height: calc(100vh - #{$appHeader-height});
    background-color: white;
    box-shadow: 4px 0 40px -8px lightgrey;
    border: 2px solid rgba(211, 211, 211, 0.29);
    @extend %transition;


      @include has('title') {
          position: relative;
          padding: rem-calc(34px 0 24px 24px);
          font-weight: 500;
          color: $body-dark-font-color;
          width: 100%;
      }
    }
  }
