@import '../../../../styles/base-component';


:host {
    position: relative;
    display: block;
    width: 100%;
    padding: rem-calc(16px);
}

@include new('invoiceFilter') {
    padding: rem-calc(20px 20px 0 12px);

    @include has('search') {
        margin-left: rem-calc(50px);

        &:focus {
            transition: 0.30s ease;
            color: $input-border-color;
        }
    }
}

@include new('invoiceNumber') {
    margin: rem-calc(35px 0 0 0);
    padding-left: 8px;
}

// ---- Customer Button

@include new('invoiceNewButton') {
    display: flex;
    margin-right: rem-calc(8px);
}


// ---- Invoice Select Table

@include new('invoiceSelect') {
    cursor: pointer;

    @include has('item') {
        cursor: pointer;
    }
}

// ---- Invoice List Table

@include new('invoiceList') {
    margin-top: rem-calc(12px);

    @include has('status') {
        border-radius: rem-calc(50px);
        padding: rem-calc(4px 16px);

        &.draft {
            background: rgba($app-warning-color, 0.1);
            color: $app-warning-color;
            font-weight: bold;

            &:before {
                background: $app-warning-color;
            }
        }

        &.validate {
            background: rgba($app-success-color, 0.1);
            color: $app-success-color;
            font-weight: bold;
        }
    }

    @include has('download') {
        background: rgba($app-main-light-color, 0.2);
        color: $app-main-light-color;
        cursor: pointer;
        border: transparent;

        &:hover {
            background: rgba($app-main-color, 0.2);
            color: $app-main-color;
        }
    }
}




