@import 'src/styles/base-component';

:host {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    overflow-y: scroll;
}

.customer-header {
    padding: rem-calc(16px);

    h2 {
        line-height: rem-calc(25px);
        margin-left: rem-calc(12px);
        color: white;
        font-size: rem-calc(13px);
        background-color: $app-primary;
        width: auto;
        padding: rem-calc(3px) rem-calc(15px);
        border-radius: rem-calc(5px);
        text-transform: uppercase;
        height: rem-calc(30px);
    }
}

form {
    border-radius: 8px;
    padding: 0 rem-calc(16px) rem-calc(90px);
}

.statistic-container {
    position: relative;
    background: $app-primary_light;
    padding: rem-calc(16px);
    border-radius: rem-calc(8px);
    margin-top: rem-calc(16px);
    overflow: hidden;

    &-numbers {
        z-index: 2;
    }

    h2 {
        color: $app-primary;
        margin-bottom: rem-calc(16px);
        padding-left: rem-calc(5px);
    }

    label {
        color: $app-primary;
        font-weight: normal;
        margin-bottom: rem-calc(2px);
    }

    .bloc {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: rem-calc(4px 16px);
        margin-right: rem-calc(8px);
        border-radius: rem-calc(8px);
        color: white;
        font-weight: bold;
        font-size: rem-calc(20px);

        span {
            opacity: 0.4;
        }

        &.primary {
            background: $app-primary;
        }

        &.primary_medium {
            background: $app-primary_medium
        }

        &.secondary {
            background: $app-secondary
        }

        &.secondary_dark {
            background: darken($app-secondary, 10%)
        }
    }

    img {
        position: absolute;
        top: rem-calc(15px);
        right: rem-calc(-18px);
        width: 14%;
        opacity: 0.4;
    }
}

.selectMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: rem-calc(32px 0 48px 0);

    .select {
        .selectMenu-round{
            background: $app-tertiary;
        }
    }

    &-container {
        cursor: pointer;
        margin: rem-calc(0 32px);
    }

    &-round {
        height: rem-calc(64px);
        width: rem-calc(64px);
        border-radius: 100%;
        background: $app-grey_light;
    }

    h2 {
        display: flex;
        align-items: center;
        color: $app-primary;
        margin-left: rem-calc(8px);
        line-height: rem-calc(18px);
    }
}

.step {
    margin-top: rem-calc(32px);

    &-title {
        display: flex;
        align-items: center;
        color: $app-primary;
        margin-bottom: rem-calc(16px);

        span {
            display: flex;
            justify-content: center;
            align-items: center;
            height: rem-calc(32px);
            width: rem-calc(32px);
            padding: rem-calc(20px);
            margin-right: rem-calc(8px);
            background: $app-primary;
            border-radius: 100%;
            color: white;
        }
    }

    &-form {
        margin-left: rem-calc(44px);

        &_line {
            margin-bottom: rem-calc(8px);
        }
    }

    &-business {
        h3 {
            position: relative;
            font-size: rem-calc(14px);
            color: $app-primary;
            margin: rem-calc(16px 0 0 60px);
            z-index: 1;

            &:before {
                content: '';
                position: absolute;
                left: rem-calc(-14px);
                top: rem-calc(-5px);
                height: rem-calc(32px);
                width: rem-calc(32px);
                border-radius: 100%;
                background: $app-tertiary;
                opacity: 0.3;
                z-index: -2;
            }
        }

        &.margin-top-40 {
            margin-top: rem-calc(40px);
        }
    }
}

.detailAction {
    padding: rem-calc(16px) rem-calc(16px) 0;
    min-height: 36%;
    margin-left: rem-calc(44px);
    width: auto;

    .detailAction-head {
        display: block;
        background: $app-primary_light;
        color: rgba($app-primary, 0.7);
        font-size: rem-calc(12px);
        border-radius: 8px 8px 0 0;
        border: none;
        font-weight: 600;
        padding: rem-calc(15px);
    }
    .detailAction-line-block {
        min-height: calc(100% - 186px);
        max-height: calc(100% - 186px);
        overflow: scroll;
    }

    .detailAction-line-footer {
        background-color: rgba($app-primary_light, 0.3);
        border-radius: 0 0 rem-calc(5px) rem-calc(5px);
    }
}

.footer-container {
    position: fixed;
    bottom: rem-calc(20px);
    width: calc(100% - 103px);
    background-color: white;
    z-index: 1;
    box-shadow: 0px -6px 12px -9px #0003;
}

.control-bar {
    display: flex;
    align-items: center;
    padding: 1.6rem;
}
