@import 'src/styles/base-component';

:host {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: rem-calc(16px);
}

// ---- Invoice List

@include new('invoiceList') {
    height: 100%;

    .invoiceList-head-total {
        text-align: right;
        font-size: rem-calc(14px);
        font-weight: 600;
        color: rgba($app-primary, 0.7);
    }

    .invoiceList-head {
        display: block;
        background: $app-primary_light;
        color: rgba($app-primary, 0.7);
        font-size: rem-calc(12px);
        border-radius: 8px 8px 0 0;
        border: none;
        font-weight: 600;
        padding: rem-calc(15px) 0;

        .arrow {
            margin-left: 3px;
            border: solid rgba($app-primary, 0.7);
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 3px;
        }

        .up {
            transform: rotate(-135deg);
            -webkit-transform: rotate(-135deg);
        }

        .down {
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
        }

        .cell {
            cursor: pointer;
        }
    }
    .invoiceList-line {
        height: 100%;
        overflow: scroll;
        box-shadow: inset 0 10px 23px -21px rgb(181, 181, 181);

        .line-block {
            width: auto;
            padding: rem-calc(15px) 0;

            &:nth-child(even) {
                background: $table-line
            }
            &:hover {
                background: $table-line-hover;
            }
        }

        .cell {
            padding: rem-calc(8px 10px);

            &.ref-cell, &.client-cell, &.business-cell, &.object-cell, &.amount-cell, &.date-cell {
                span {
                    color: $body-dark-font-color;
                    font-weight: 500;
                }
                div {
                    text-align: right;
                    color: $body-dark-font-color;
                    font-weight: 500;
                }
            }
        }

        .object-cell {
            height: 55px;
            overflow: hidden;
        }
    }
}

.actions-cell {
    width: 147px;
}
.status-cell {
    width: 185px;
}

.clickable {
    cursor: pointer;
}
.date-cell, .amount-cell {
    width: 140px;
}


