<a-spinner [hidden]="!isPending"></a-spinner>

<div class="invoiceList cell auto">
    <div class="invoiceList-head-total">
        <span>Total: {{invoices?.length}}</span>
    </div>
    <div class="invoiceList-head">
        <div class="grid-x grid-padding-x">
            <div class="cell phone-2 ref-cell"
                 *ngIf="referenceNumberColumnDisplayed" (click)="sort('reference')">
                {{'invoice.list.column.reference'|translate}}
                <span *ngIf="sortParam?.includes('reference')" class="arrow {{upOrDown()}}"></span>
            </div>
            <div class="cell phone-3 client-cell" (click)="sort('buyer')">
                {{'invoice.list.column.buyer'|translate}}
                <span *ngIf="sortParam?.includes('buyer')" class="arrow {{upOrDown()}}"></span>
            </div>
            <div class="cell phone-3 business-cell" (click)="sort('business')">
                {{'invoice.list.column.business'|translate}}
                <span *ngIf="sortParam?.includes('business')" class="arrow {{upOrDown()}}"></span>
            </div>
            <div class="cell auto object-cell" (click)="sort('object')">
                {{'invoice.list.column.object'|translate}}
                <span *ngIf="sortParam?.includes('object')" class="arrow {{upOrDown()}}"></span>
            </div>
            <div class="cell amount-cell" (click)="sort('grossAmount')">
                {{'invoice.list.column.gross.amount'|translate}}
                <span *ngIf="sortParam?.includes('grossAmount')" class="arrow {{upOrDown()}}"></span>
            </div>
            <div class="cell date-cell" (click)="sort('date')">
                {{'invoice.list.column.date'|translate}}
                <span *ngIf="sortParam?.includes('date')" class="arrow {{upOrDown()}}"></span>
            </div>
            <div class="cell status-cell" (click)="sort('status')">
                {{'invoice.list.column.status'|translate}}
                <span *ngIf="sortParam?.includes('status')" class="arrow {{upOrDown()}}"></span>
            </div>
            <div class="cell actions-cell">
                {{'invoice.list.column.actions'|translate}}
            </div>
        </div>
    </div>
    <div class="invoiceList-line">
        <div class="grid-x grid-padding-x line-block align-middle" *ngFor="let invoice of invoices">
            <div *ngIf="referenceNumberColumnDisplayed" class="cell phone-2 ref-cell">
                <span>N° {{ (invoice && invoice._id) ? invoice.reference : "[" + invoice.reference + "] "}}</span>
            </div>
            <div (click)="goToDetail(invoice)" class="text-click cell phone-3 client-cell">
                <span class="invoiceList-value">{{invoice.buyer?.name}}</span>
            </div>
            <div (click)="goToDetail(invoice)" class="text-click cell phone-3 business-cell">
                <span class="invoiceList-value">{{invoice.business?.name}}</span>
            </div>
            <div (click)="goToDetail(invoice)" class="text-click cell auto object-cell grid-x align-middle">
                <span class="invoiceList-value">{{invoice.object}}</span>
            </div>
            <div (click)="goToDetail(invoice)" class="text-click cell amount-cell">
                <div class="invoiceList-value">{{invoice.grossAmount | invoiceCurrency}} HT</div>
                <div class="invoiceList-value">{{invoice.netAmount | invoiceCurrency}} TTC</div>
            </div>
            <div (click)="goToDetail(invoice)" class="text-click cell date-cell">
                <span class="invoiceList-value">{{invoice.date | date: 'dd MMM. yyyy'}}</span>
            </div>
            <div (click)="editStatus(invoice)" class=" cell status-cell clickable" >
                <a-invoice-status *ngIf="!checkInvoicesStatus(invoice)" [statusLabel]="invoice.status"></a-invoice-status>
                <select *ngIf="checkInvoicesStatus(invoice)" (ngModelChange)="updateInvoice(invoice, $event)" class="form-control" id="allocation-algorithm" [(ngModel)]="invoice.status">
                    <option *ngFor="let status of getInvoiceAvailableStatuses(invoice)" [ngValue]="status">{{ 'invoice.status.' + status | translate}}</option>
                </select>
            </div>
            <div class="grid-x align-right align-middle cell actions-cell">
                <a-button-launch (click)="launchInvoice(invoice)"
                                 *ngIf="isLaunchButtonVisible(invoice)"
                                 [launchStyle]="'INVOICE'"
                                 [launchLabel]="'invoice.list.column.launch'"></a-button-launch>
                <a-spacer [sizeX]="10"></a-spacer>
                <a-button-icon size="DEFAULT" visibility="HIGH" (click)="downloadInvoice(invoice)">
                    <i class="far fa-file-pdf"></i>
                </a-button-icon>
            </div>
        </div>
        <div class="grid-x grid-padding-x line-block align-middle" *ngIf="invoices">
            <div class="cell phone-2 ref-cell">
                <span>Total</span>
            </div>
            <div class="text-click cell phone-3 client-cell">
                <span class="invoiceList-value">{{getAllBuyers(invoices)}}</span>
            </div>
            <div class="text-click cell phone-3 business-cell">
            </div>
            <div class="text-click cell auto object-cell grid-x align-middle">
            </div>
            <div class="text-click cell total-amount-cell">
                <div class="invoiceList-value">Total: {{getTotalGrossAmount(invoices) | invoiceCurrency}} HT</div>
                <div class="invoiceList-value">Total: {{getTotalNetAmount(invoices) | invoiceCurrency}} TTC</div>
            </div>
            <div class="text-click cell date-cell">
                <span class="invoiceList-value"></span>
            </div>
            <div class=" cell status-cell">
            </div>
            <div class="grid-x align-right align-middle cell actions-cell">
            </div>
        </div>
    </div>
</div>




