<div class="column dashboard-column" [class.disable]="columnConfiguration.disabled"
     [dndDropzone]="getDropAllowedTypes()"
     (dndDrop)="onDrop($event)">
    <div class="title-column">{{columnConfiguration.title | translate}} ({{invoiceList?.length}})</div>
    <div class="title-column-amount">{{getAmount() | invoiceCurrency}}</div>
    <div class="content">
        <dashboard-ticket *ngFor="let invoice of invoiceList"
                          [invoice]="invoice"
                          [disabled]="columnConfiguration.disabled">
        </dashboard-ticket>
    </div>
</div>
