@import 'src/styles/base-component';

.dashboard-column {
  height: 100%;
  padding: 0;
  width: calc(100% - 12px);
  margin: rem-calc(6px);

  &.disable {
    .content {
      background-color: $app-disabled-bgColor;
    }
  }

  .title-container {
    position: fixed;
    z-index: 1;
    margin-top: rem-calc(-53px);
    height: rem-calc(53px);
    display: block;
    background-color: #f8f9fc;
    color: $app-grey;
    font-size: 1.2rem;
    border-radius: 8px 8px 0 0;
    border: none;
    padding: 5px 13px;

    &.title-width-5 {
      width: calc(100% / 5 - 38px);
    }
    &.title-width-3 {
      width: calc(100% / 3 - 54px);
    }

    .title-column {
      text-transform: uppercase;
      color: rgba($app-primary, .7);
      font-size: rem-calc(12px);
      font-weight: 500;
      letter-spacing: rem-calc(0.5px);

      &-amount {
        color: $regent-gray;
        margin-bottom: rem-calc(5px);
      }
    }
  }

  .content {
    background-color: rgba($app-primary_light, 0.2);
    padding: rem-calc(1px);
    margin-top: rem-calc(53px);
  }

  &.dndDragover {
    .content {
      border: 1.5px dashed $app-primary;
      background-color: rgba($app-primary, 0.1);

    }

    .ticketDragging {
      display: block;
      min-height: rem-calc(130px);
      border: 1.5px dashed $app-primary;
      margin: 8px;
    }
  }
}


