@import 'src/styles/base-component';

.dashboard-column {
  height: 100%;
  padding: 0;
  width: calc(100% - 12px);
  margin: rem-calc(6px);

  &.disable {
    .content {
      background-color: $app-disabled-color;
    }
  }

  .title-column {
    text-transform: uppercase;
    color: $regent-gray;
    font-size: rem-calc(12px);
    font-weight: 500;
    letter-spacing: rem-calc(0.5px);

    &-amount {
      color: $regent-gray;
      font-size: rem-cal(10px);
      margin-bottom: rem-calc(10px);
    }
  }

  .content {
    background-color: $black-squeeze;
    padding: rem-calc(1px);
  }

  &.allowedDrop {

    .content {
      border: rem-calc(2px) dashed $app-success-color;
      background-color: rgba(103, 186, 47, 0.1);

      dashboard-ticket {
        display: none;
      }
    }
  }
}
