<div class="invoiceListHome">
    <div class="invoiceListHome-header">
        <span>Accueil - Suivi des factures</span>
    </div>
    <div class="invoiceListHome-dashboard">
        <div class="row dashboard">
            <dashboard-column
                    [title]="'dashboard.column.to.prepare' | translate"
                    [invoiceList]="toPrepareInvoices"
                    (columnUpdated)="toPrepareColumnUpdated($event)">
            </dashboard-column>
            <dashboard-column
                    [title]="'dashboard.column.validation.waiting' | translate"
                    [disabled]="true"
                    [invoiceList]="waitingValidationInvoices"
                    (columnUpdated)="waitingValidationColumnUpdated($event)">
            </dashboard-column>
            <dashboard-column
                    [title]="'dashboard.column.to.send' | translate"
                    [invoiceList]="toSendInvoices"
                    (columnUpdated)="toSendColumnUpdated($event)">
            </dashboard-column>
            <dashboard-column
                    [title]="'dashboard.column.payment.waiting' | translate"
                    [invoiceList]="paymentWaitingInvoices"
                    (columnUpdated)="paymentWaitingColumnUpdated($event)">
            </dashboard-column>
            <dashboard-column
                    [title]="'dashboard.column.late' | translate"
                    [invoiceList]="lateInvoices"
                    (columnUpdated)="lateColumnUpdated($event)">
            </dashboard-column>
        </div>
    </div>
</div>