<div class="invoice-detail-container">
    <form class="grid-y">
        <div class="customer-header cell shrink grid-x">
            <a-button-default size="SMALL" visibility="LOW" (click)="goBack()" class="cell shrink">
                <i class="ion-arrow-left-c"></i> {{'button.label.back' | translate}}
            </a-button-default>
            <h2 class="cell phone-16">450 SAS</h2>
        </div>

        <div class="statistic-container">
            <h2>Statistiques commerciales</h2>
            <div class="grid-x statistic-container-numbers">
                <div class="column">
                    <label>{{'newCustomer.label.caInvoiced' | translate}} (mai 2020 - mars 2021)</label>
                    <div class="bloc primary">0,00<span>€</span></div>
                </div>
                <div class="column">
                    <label>{{'newCustomer.label.caFixed' | translate}} (mai 2020 - mars 2021)</label>
                    <div class="bloc primary_medium">0,00<span>€</span></div>
                </div>
                <div class="column">
                    <label>{{'newCustomer.label.totalInvoiced' | translate}}</label>
                    <div class="bloc secondary">0,00<span>€</span></div>
                </div>
                <div class="column statistic-container-numbers">
                    <label>Total CA ferme</label>
                    <div class="bloc secondary_dark">0,00<span>€</span></div>
                </div>
            </div>
            <img src="assets/images/png/statistic-bg.png">
        </div>

        <div>
            <div class="grid-x selectMenu">
                <div class="grid-x select selectMenu-container">
                    <div class="selectMenu-round"></div>
                    <h2>Information<br>société</h2>
                </div>
                <div class="grid-x selectMenu-container">
                    <div class="selectMenu-round"></div>
                    <h2>Relation<br>commerciale</h2>
                </div>
            </div>

            <div class="step">
                <h2 class="step-title">
                    <span>1</span>
                    Informations légales de la société
                </h2>
                <div class="grid-y step-form">
                    <div class="grid-x step-form_line">
                        <div class="column small-8">
                            <label>Nom du client</label>
                            <input type="text">
                        </div>
                        <div class="column small-8">
                            <label>Numéro de SIREN</label>
                            <input type="text">
                        </div>
                    </div>
                    <div class="grid-x">
                        <div class="column small-8">
                            <label>Adresse</label>
                            <input type="text">
                        </div>
                        <div class="column small-8">
                            <label>Ville</label>
                            <input type="text">
                        </div>
                        <div class="column small-8">
                            <label>Code postal</label>
                            <input type="text">
                        </div>
                    </div>
                </div>
            </div>

            <div class="step">
                <h2 class="step-title">
                    <span>2</span>
                    Informations sur la relation commerciale
                </h2>

                <div class="grid-y step-form">
                    <div class="grid-x step-form_line">
                        <div class="column small-8">
                            <label>Mail du contact</label>
                            <input type="text">
                        </div>
                        <div class="column small-8">
                            <label>Responsable client</label>
                            <input type="text">
                        </div>
                    </div>
                </div>

                <div class="step-business">
                    <h3 class="step-business-title">
                        Liste des affaires
                    </h3>

                    <div class="detailAction cell">
                        <div class="detailAction-head">
                            <div class="grid-x grid-padding-x">
                                <div class="cell phone-9">Responsable projet</div>
                                <div class="cell phone-12">Désignation</div>
                                <div class="cell phone-1">Actions</div>
                            </div>
                        </div>
                        <div class="detailAction-line-block">
                            <ng-container>
                                <a-invoice-line
                                        [reorderEnabled]="true"
                                        [editActionEnabled]="true"
                                        [validateActionEnabled]="true"
                                        [deleteActionEnabled]="true">
                                </a-invoice-line>
                            </ng-container>
                        </div>
                        <div class="detailAction-line-footer">
                            <a-invoice-line
                                    name="newLine"
                                    [editable]="true"
                                    [addActionEnabled]="true">
                            </a-invoice-line>
                        </div>
                    </div>
                </div>

                <div class="step-business margin-top-40">
                    <h3 class="step-business-title">
                        Liste des taux de TVA
                    </h3>

                    <div class="detailAction cell">
                        <div class="detailAction-head">
                            <div class="grid-x grid-padding-x">
                                <div class="cell phone-21">Libellé</div>
                                <div class="cell phone-1">Actions</div>
                            </div>
                        </div>
                        <div class="detailAction-line-block">
                            <ng-container>
                                <a-invoice-line
                                        [reorderEnabled]="true"
                                        [editActionEnabled]="true"
                                        [validateActionEnabled]="true"
                                        [deleteActionEnabled]="true">
                                </a-invoice-line>
                            </ng-container>
                        </div>
                        <div class="detailAction-line-footer">
                            <a-invoice-line
                                    name="newLine"
                                    [editable]="true"
                                    [addActionEnabled]="true">
                            </a-invoice-line>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="cell shrink footer-container">
        <div class="control-bar grid-x">
            <div class="cell phone-12">
                <a-button-cancel (click)="delete()">
                    <i class="far fa-trash-alt"></i>
                    {{'button.label.delete' | translate}}
                </a-button-cancel>
            </div>
            <div class="cell phone-12 grid-x align-right">
                <a-spacer [sizeX]="10"></a-spacer>
                <a-button-cancel>
                    <i class="fas fa-times"></i>
                    {{'button.label.cancel' | translate}}
                </a-button-cancel>
                <a-spacer [sizeX]="10"></a-spacer>
                <a-button-default (click)="save()"
                                  visibility="HIGH">
                    <i class="fas fa-save"></i>
                    {{'button.label.save' | translate}}
                </a-button-default>
            </div>
        </div>
    </div>
</div>
