@import '../../../styles/base-component';

:host {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.caInfos {
  position: relative;
  margin-top: rem-calc(38px) !important;
  padding: rem-calc(12px 16px 0 16px) !important;

  &-period {
    position: absolute;
    top: rem-calc(-26px);
    left: 0;
    padding: rem-calc(4px 16px);
    background-color: darken($app-secondary, 15%);
    font-weight: bold;
    border-radius: rem-calc(16px 4px 0 0);
  }
}

@include new('newCustomer') {
  background-color: $app-body-fontColor;

  @include new('newCustomerHeader') {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $height-newCustomerHeader;
    background-color: $app-primary_medium;
    padding: rem-calc(8px);
    z-index: 999;

    @include has('name') {
      color: white;
      font-weight: bold;
      font-size: rem-calc(18px);
    }
  }

  @include new('newCustomerDetail') {
    position: relative;
    width: 100%;
    height: calc(100vh - 64px - 175px);
    padding: 0 8px;
    top: rem-calc(80px);
    overflow-y: auto;

    @include has('container') {
      margin-top: rem-calc(12px);
      box-shadow: 0 1px 5px $app-grey;
      background-color: white;
      border-radius: $global-radius;

      @include when('dark') {
        background-image: url('../../' + $path-png + 'patern-login.png');
        background-size: cover;
        background-position: center center;
        background-color: darken($app-secondary, 15%);
        padding: rem-calc(24px);
        color: white;

       h6 {
         position: relative;
         color: white;

         &:after {
           position: absolute;
           bottom: -10px;
           left: 0;
           width: 100%;
           height: rem-calc(1px);
           background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(125,185,232,0) 100%);
           content: '';
           opacity: 0.3;
         }

         &.no-border {
           &:after { display: none;}
         }
       }
      }

      @include has('labelNumber') {
        display: flex;
      }

      @include has('valueNumber') {
        display: flex;
      }

      @include has('label') {
        display: flex;
        margin: rem-calc(16px 0);
      }

      @include has('content') {
        margin: rem-calc(16px 0);

        button {
          margin-left: rem-calc(8px);
          cursor: pointer;
        }
      }
    }
  }

  @include new('newCustomerAction') {
    right: 0;
    height: $height-newCustomerAction;
    width: calc(100% - #{$sidebar-width-sm});

    @include breakpoint(large only) {
      width: calc(100% - #{$sidebar-width-sm});
    }

    @include has('number') {
      position: absolute;

    }

    @include has('container') {
      padding: rem-calc(24px 12px);
      border: 1px solid $app-grey_light;
      box-shadow: 0 1px 5px $app-grey;
      background-color: white;

      button {
        margin-right: rem-calc(8px);
      }

      .total {
        position: absolute;
        top: 50%;
        right: 0;
        height: 100%;
        transform: translate(0, -50%);

        .total-value {
          display: flex;
          align-items: center;
          height: 50%;
          padding: rem-calc(0 16px 0 12px);

          &:first-child { background: $app-secondary;}
          &:last-child { background: $app-primary;}

          h6 {
            position: relative;
            top: rem-calc(4px);
            font-size: rem-calc(14px);
            color: white !important;
          }

          .total-nb {
            float: right;
            top: rem-calc(-4px);
            font-size: rem-calc(16px);
            font-weight: bold;
            color: white;
          }


          i {
            display: inline-block;
            vertical-align: middle;
            margin-right: rem-calc(8px);
            font-size: rem-calc(24px);
          }
        }
      }

      @include has('label') {
        display: flex;
        margin: rem-calc(16px 0);
      }

      @include has('content') {
        button {
          margin-left: rem-calc(8px);
          cursor: pointer;
        }
      }
    }
  }
}


