<ng-container>
    <div class="footer-invoice grid-x grid-padding-x" [ngClass]="dropdownBlock ? 'open' : 'close'">
        <button (click)="clickDropEvent()" class="dropdownBlock-button">
            <div *ngIf="!dropdownBlock">
                <i class="fas fa-sort-up"></i>
            </div>
            <div *ngIf="dropdownBlock">
                <i class="fas fa-sort-down"></i>
            </div>
        </button>
        <div class="cell phone-8">
            <label>Notes</label>
            <textarea type="text" rows="3" cols="20"
                      name="comment"
                      [(ngModel)]="invoice.comment">
            </textarea>
        </div>
        <div class="cell phone-8">
            <label>{{'invoice.detail.attachments'|translate}}</label>
            <div class="import-files-invoice grid-x align-center"
                 ng2FileDrop
                 [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                 (fileOver)="fileOverBase($event)"
                 [uploader]="uploader"
                 (onFileDrop)="filesChange()">

                <p><i class="fas fa-cloud-upload-alt"></i>{{'invoice.detail.attachments.drop.zone'|translate}}</p>
                <input *ngIf="invoice" [hidden]="true" #inputFile
                       type="file"
                       ng2FileSelect
                       [uploader]="uploader"
                       (onFileSelected)="filesChange()"
                       multiple/>
                <a-button-default visibility="MEDIUM" size="SMALL" (click)="openFileBrowser()">
                    {{'invoice.detail.attachments.select.action'|translate}}
                </a-button-default>
            </div>
        </div>
        <div class="cell phone-8 list-files">
            <label>{{'invoice.detail.attachments.files'|translate}}</label>
            <ul>
                <li *ngFor="let file of attachments">
                    <span><i class="fas fa-paperclip"></i>
                         <a href="/api/download/{{file._id}}" target="_blank">{{file.fileName}}</a>
                    </span>
                    <i class="far fa-trash-alt" (click)="delete(file)"></i>
                </li>
            </ul>
        </div>
    </div>
</ng-container>
