@import '../../../styles/base-component';

:host {
  display: block;
  position: relative;
  width: 100%;
}

@include new('filterContainer') {
  padding: rem-calc(16px);
  border-radius: rem-calc(8px);

}

form, table {
  background: rgba($app-secondary, 0.025);
  border-radius: 8px;
  margin: rem-calc(16px);
}

table {
  margin-top: rem-calc(24px);

  tbody {
    height: 30vh;
  }
}

@include new('detailFilter') {
    padding: rem-calc(0 16px);

  @include has('wrapper') {
      margin: rem-calc(8px 0);
  }
}

@include new('footerStyle') {
    padding: rem-calc(16px);
}


