@import '../../../../../../../styles/base-component';

.buttonIcon {
  margin-bottom: 0;
  width: rem-calc(40px);
  height: rem-calc(40px);
  border-radius: 50%;
  transition: all 0.2s;

  &._high {
    color: $app-primary;
    background-color: rgba($app-primary_light, .5);

    &:hover {
      background-color: $app-primary;
      color: white;
      cursor: pointer;
    }
  }

  &._medium {
    color: $app-primary;
    background-color: transparent;
    border:  1px solid rgba($app-primary, .5);

    &:hover {
      background-color: $app-primary;
      border-color: $app-primary;
      color: white;
      cursor: pointer;
    }
  }

  &:disabled, &._disabled {
    cursor: not-allowed;
    opacity: 0.4;

    &:hover {
      background-color: $app-secondary;
    }
  }

  i {
    font-size: rem-calc(17px);
  }
}
