<div class="invoice {{statusClass}}"
     [dndDraggable]="invoice"
     [dndEffectAllowed]="'move'"
     (dndMoved)="onDragEnd($event)"
     [class.disable]="disabled"
     [dndType]="invoice.status">
    <div class="row">
        <div class="column small-15">
            <span class="date">{{invoice.date | date: 'dd MMM. yyyy'}}</span>
        </div>
        <div class="column small-9 text-right">
            <button class="action-button" (click)="openPopup()">
              <i class="ion-android-more-horizontal"></i>
            </button>
            <button class="action-button" *ngIf="isDraftInvoice()"
                    [routerLink]="['/app/invoices/detail/' + invoice._id]">
                <i class="ion-eye"></i>
            </button>
            <button class="action-button" *ngIf="!isDraftInvoice()" (click)="downloadInvoice(invoice)">
              <i class="ion-document"></i>
            </button>
        </div>
        <div class="invoice-info column small-15">
            <p class="invoice-number">
              <span *ngIf="invoice.reference">
                 N° {{ (invoice && invoice._id) ? invoice.reference : "[" + invoice.reference + "] "}}
              </span>
            </p>
            <p class="buyer-name">{{invoice.buyer?.name}}</p>
            <p class="business-name">{{invoice.business?.name}}</p>
        </div>
        <div class="column small-9 invoice-action">
            <button class="button">PAYÉE</button>
        </div>
    </div>
</div>

<quick-status-edit-panel *ngIf="popupOpened"
                          [invoice]="invoice"
                          (closeQuickUpdate)="closeQuickUpdate()"
                          (invoiceUpdate)="updateInvoice()">
</quick-status-edit-panel>