@import '../../../../../styles/base-component';


/* DEBUT scss composant TICKET FACTURE */
.invoice {
  min-height: 110px;
  cursor: move;
  margin: 6px;
  border-radius: 2px;
  background-color: white;
  box-shadow: 0 0 1px 0 rgba(9, 30, 66, 0.31), 0 2px 4px -1px rgba(9, 30, 66, 0.25);
  padding: 10px;

  &.disable {
    cursor: no-drop;
    background-color: #efefef;
  }

  &.status-draft {
    border-left: 2px solid $status-draft-color;
    background-image: url('../../../../../assets/images/png/bg-draft.png');
    background-size: cover;

    .date {
      background-color: $status-draft-color;
    }
  }

  &.status-ready {
    border-left: 2px solid $status-ready-color;
    background-image: url('../../../../../assets/images/png/bg-draft.png');
    background-size: cover;

    &.pilot {
      background-color: #efefef;
    }

    .date {
      background-color: $status-ready-color;
    }
  }

  &.status-waiting_validation {
    border-left: 2px solid $status-waiting-validation-color;

    .date {
      background-color: $status-waiting-validation-color;
    }
  }

  &.status-validated {
    border-left: 2px solid $status-validated-color;

    .date {
      background-color: $status-validated-color;
    }
  }

  &.status-sent {
    border-left: 2px solid $status-sent-color;

    .date {
      background-color: $status-sent-color;
    }
  }

  &.status-paid {
    border-left: 2px solid $status-paid-color;

    .date {
      background-color: $status-paid-color;
    }
  }

  &.status-payment_scheduled {
    border-left: 2px solid $status-payment-scheduled-color;

    .date {
      background-color: $status-payment-scheduled-color;
    }
  }

  &.status-late {
    border-left: 2px solid $status-late-color;

    .date {
      background-color: $status-late-color;
    }
  }

  &.status-unpaid {
    border-left: 2px solid $status-unpaid-color;

    .date {
      background-color: $status-unpaid-color;
    }
  }

  &.status-cancelled {
    border-left: 2px solid $status-cancelled-color;

    .date {
      background-color: $status-cancelled-color;
    }
  }

  .date {
    font-size: 9px;
    letter-spacing: 2px;
    padding: 4px 6px;
    border-radius: 2px;
    color: #fff;
    font-weight: 600;

    @include breakpoint(xlarge only) {
      font-size: 11px;
    }
  }

  .action-button {
    margin-left: 6px;
    cursor: pointer;
    i {
      font-size: 23px;
      color: #a7a7a7;
    }
  }

  .invoice-info {
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    padding: 0 0.5rem;

    .buyer-name {
      color: #172b4d;
      font-weight: 500;
      font-size: 14px;
      margin: 0;
      line-height: 18px;
      margin-top: 4px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .business-name {
      color: #2B364D;
      font-size: 12px;
      margin: 0;
      line-height: 18px;
      margin-top: 4px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .invoice-number {
      color: #5e6c84;
      font-size: 12px;
      font-weight: 600;
      margin: 0;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

/* FIN scss composant TICKET FACTURE */
