@import 'src/styles/base-component';

.invoiceListHome {
  display: block;
  position: relative;
  width: 100%;
  background-color: white;
  border-radius: $content-radius;

  &-header {
    height: rem-calc(58px);
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: flex-end;

    span {
      color: $white;
      font-weight: bold;
      font-size: rem-calc(16px);
    }
  }

  &-dashboard {
    padding: rem-calc(10px);

    .dashboard {
      height: calc(100vh - 210px);
      overflow-x: scroll;

      .column-width- {
        &2 {
          width: calc(100% / 2);
        }
        &3 {
          width: calc(100% / 3);
        }
        &4 {
          width: calc(100% / 4);
        }
        &5 {
          width: calc(100% / 5);
        }
        &6 {
          width: calc(100% / 6);
        }
        &7 {
          width: calc(100% / 7);
        }
        &8 {
          width: calc(100% / 8);
        }
        &9 {
          width: calc(100% / 9);
        }
        &10 {
          width: calc(100% / 10);
        }
      }
    }
  }
}