<div class="customerFilter">
    <div class="row">
        <div class="columns shrink">
            <div class="row align-middle">
                <div class="columns shrink">
                    <h6>{{'customers.filter.title' | translate}}</h6>
                </div>

                <div class="columns">
                    <button type="button" (click)="toggleFilter('name')"
                            [ngClass]="{'isActive green': filterString ===  'name'}"
                            class="round large listFilter-item">
                        {{'customers.filter.az' | translate}}
                    </button>
                </div>

                <div class="columns">
                    <button type="button" (click)="toggleFilter('lastSendDate')"
                            [ngClass]="{'isActive green': filterString ===  'lastSendDate'}"
                            class="round large listFilter-item">
                        {{'customers.filter.date' | translate}}
                    </button>
                </div>

                <div class="columns">
                    <button type="button" (click)="toggleFilter('lastPaymentDate')"
                            [ngClass]="{'isActive green': filterString ===  'lastPaymentDate'}"
                            class="round large listFilter-item">
                        {{'customers.filters.ca' | translate}}
                    </button>
                </div>
            </div>
        </div>

        <div class="columns shrink">
            <input class="input search small" type="text" placeholder="Recherche un client par nom"
                   name="search"
                   [(ngModel)]="query" debounce (func)="search()">
        </div>
    </div>

    <!-- Invoice number -->

    <div class="row">
        <div class="customerDetail inner-space-top-20">
            <h6> <strong class="nb">{{companies?.length}}</strong>  {{'customers.total.client' | translate}}
                <strong class="nb">{{getNumberOfBusiness()}}</strong> {{'customers.total.deal' | translate}}</h6>
        </div>

        <div class="columns auto align-right grid-x">
            <a-button-default size="DEFAULT" visibility="HIGH" routerLink="/customers/new">
                <i class="fas fa-plus"></i>{{'customers.filter.client' | translate}}
            </a-button-default>
        </div>
    </div>
</div>

<!-- [END HEADER] -->

<customers-list [companies]="companies | orderBy: filterString: isReverse"  [isPending]="isPending"></customers-list>


