@import 'src/styles/base-component';


/* DEBUT scss composant TICKET FACTURE */
.invoice {
  min-height: rem-calc(130px);
  cursor: move;
  margin: rem-calc(6px);
  border-radius: rem-calc(2px);
  background-color: white;
  box-shadow: 0 0 rem-calc(1px) 0 rgba(9, 30, 66, 0.31), 0 rem-calc(2px) rem-calc(4px) rem-calc(-1px) rgba(9, 30, 66, 0.25);

  .row {
    padding: rem-calc(10px);
  }

  &.disable {
    cursor: no-drop;
    background-color: $app-disabled-color;
    opacity: 0.7;
  }

  &.status-draft {

    .label-draft {
      background-color: $status-draft-color;
    }
    .invoice-price {
      color: $status-draft-color;
    }
  }

  &.status-ready {

    .label-draft {
      background-color: $status-ready-color;
    }
    .invoice-price {
      color: $status-ready-color;
    }
  }

  &.status-waiting_validation {
    border-left: rem-calc(2px) solid $status-waiting-validation-color;

    .date {
      background-color: $status-waiting-validation-color;
    }
    .invoice-price {
      color: $status-waiting-validation-color;
    }
  }

  &.status-validated {
    border-left: rem-calc(2px) solid $status-validated-color;

    .date {
      background-color: $status-validated-color;
    }
    .invoice-price {
      color: $status-validated-color;
    }
  }

  &.status-sent {
    border-left: rem-calc(2px) solid $status-sent-color;

    .date {
      background-color: $status-sent-color;
    }
    .invoice-price {
      color: $status-sent-color;
    }
  }

  &.status-paid {
    border-left: rem-calc(2px) solid $status-paid-color;

    .date {
      background-color: $status-paid-color;
    }
    .invoice-price {
      color: $status-paid-color;
    }
  }

  &.status-payment_scheduled {
    border-left: rem-calc(2px) solid $status-payment-scheduled-color;

    .date {
      background-color: $status-payment-scheduled-color;
    }
    .invoice-price {
      color: $status-payment-scheduled-color;
    }
  }

  &.status-late {
    border-left: rem-calc(2px) solid $status-late-color;

    .date {
      background-color: $status-late-color;
    }
    .invoice-price {
      color: $status-late-color;
    }
  }

  &.status-unpaid {
    border-left: rem-calc(2px) solid $status-unpaid-color;

    .date {
      background-color: $status-unpaid-color;
    }
    .invoice-price {
      color: $status-unpaid-color;
    }
  }

  &.status-cancelled {
    border-left: rem-calc(2px) solid $status-cancelled-color;

    .date {
      background-color: $status-cancelled-color;
    }
    .invoice-price {
      color: $status-cancelled-color;
    }
  }

  .date {
    font-size: rem-calc(9px);
    letter-spacing: rem-calc(2px);
    padding: rem-calc(4px) rem-calc(6px);
    border-radius: rem-calc(2px);
    color: white;
    font-weight: 600;

    @include breakpoint(xlarge only) {
      font-size: rem-calc(11px);
    }
  }

  .invoice-actions {
    display: flex;
    justify-content: flex-end;

    .action-button {
      margin-left: rem-calc(6px);
      cursor: pointer;
      height: rem-calc(24px);
      display: flex;
      align-items: center;
      i.ion-document, i.ion-android-more-horizontal {
        font-size: rem-calc(23px);
        color: #a7a7a7;
      }
      i.ion-edit {
        font-size: rem-calc(15px);
        color: #a7a7a7;
      }
    }
  }


  .invoice-info {
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
    padding: 0 rem-calc(5px);

    .buyer-name {
      color: #172b4d;
      font-weight: 500;
      font-size: rem-calc(14px);
      margin: 0;
      line-height: rem-calc(18px);
      margin-top: rem-calc(4px);
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .business-name {
      color: #2B364D;
      font-size: rem-calc(12px);
      margin: 0;
      line-height: rem-calc(18px);
      margin-top: rem-calc(4px);
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .invoice-price {
      font-size: rem-calc(12px);
      margin: 0;
      line-height: rem-calc(18px);
      margin-top: rem-calc(4px);
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .invoice-number {
      color: #5e6c84;
      font-size: rem-calc(12px);
      font-weight: 600;
      margin: 0;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
  .invoice-button {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    button {
      padding: rem-calc(6px);
      font-size: rem-calc(10px);
      font-weight: 700;
      background-color: #f4f5f7;
      color: #8395a9;
      text-transform: uppercase;

      &:hover {
        background-color: #eee;
        color: #4c637b;
      }
    }
  }

  &.draft-invoice {
    .row {
      flex-direction: row-reverse;
      min-height: rem-calc(115px);
    }
    .label-draft {
      text-align: center;
      text-transform: uppercase;
      color: #fff;
      font-size: rem-calc(10px);
      font-weight: 600;
      letter-spacing: rem-calc(0.5px);
      border-radius: 0 0 rem-calc(2px) rem-calc(2px);
    }
  }
}


.dndDragging {
  opacity: 0.5;
}