<div class="grid-y grid-padding-y invoiceListContainer">

    <form class="grid-x cell phone-2" [formGroup]="searchForm">
        <div class="cell phone-8">
            <p class="title-section">Recherche</p>
            <input class="input search" type="text" placeholder="{{'invoice.search.name' | translate}}"
                   formControlName="query">
        </div>

        <div class="cell phone-7 grid-x">
            <div class="cell phone-12 date-picker-block">
                <p class="title-section">Entre</p>
                <div class="date-picker columns shrink">
                    <div class="invoiceSelect-date">
                        <a-date-picker formControlName="startDate"></a-date-picker>
                    </div>
                </div>
            </div>
            <div class="cell phone-12 date-picker-block">
                <p class="title-section">Et</p>
                <div class="date-picker columns shrink">
                    <div class="invoiceSelect-date">
                        <a-date-picker formControlName="endDate"></a-date-picker>
                    </div>
                </div>
            </div>
        </div>

        <div class="cell phone-9 grid-x list-action">
            <a-button-default size="LARGE" visibility="MEDIUM" class="cell phone-15 text-right">
                <i class="far fa-file-excel"></i>
                {{'analyze.sales.export' | translate}}
            </a-button-default>
            <a-button-default size="LARGE" visibility="HIGH" class="cell phone-9 text-right">
                <i class="fas fa-plus"></i>
                {{'invoices.newInvoice' | translate}}
            </a-button-default>
        </div>
    </form>
    <!--<button class="round medium buttonContainer-green">-->
    <!--    <i class="fas fa-file-excel"></i>-->
    <!--</button>-->

    <div class="cell phone-22">
        <invoices-list [invoices]="invoices | orderBy: filterString"
                       [referenceNumberColumnDisplayed]="true"
                       [isPending]="isPending">
        </invoices-list>
    </div>

</div>