<div class="grid-y grid-padding-y invoiceListContainer">

    <form class="grid-x cell phone-2" [formGroup]="searchForm">
        <div class="cell auto">
            <p class="title-section">Recherche</p>
            <input class="input search" type="text" placeholder="{{'invoice.search.name' | translate}}"
                   formControlName="query">
        </div>

        <div class="cell phone-8 grid-x">
            <div class="cell phone-12 date-picker-block">
                <p class="title-section">Entre</p>
                <div class="date-picker columns shrink">
                    <div class="invoiceSelect-date">
                        <a-date-picker formControlName="startDate"></a-date-picker>
                    </div>
                </div>
            </div>
            <div class="cell phone-12 date-picker-block">
                <p class="title-section">Et</p>
                <div class="date-picker columns shrink space-right-10">
                    <div class="invoiceSelect-date">
                        <a-date-picker formControlName="endDate"></a-date-picker>
                    </div>
                </div>
            </div>
        </div>

        <div class="cell shrink grid-x align-right list-action">
            <a-link-default [href]="exportInvoices()"
                            size="LARGE"
                              class="text-right">
                <i class="far fa-file-excel"></i>
                {{'invoice.list.action.export' | translate}}
            </a-link-default>
            <a-spacer [sizeX]="10"></a-spacer>
            <a-button-default size="LARGE"
                              visibility="HIGH"
                              class="text-right"
                              (click)="newInvoice()">
                <i class="fas fa-plus"></i>
                {{'invoice.list.action.new' | translate}}
            </a-button-default>
        </div>
    </form>

    <div class="cell phone-22">
        <invoices-list [invoices]="invoices | orderBy: filterString"
                       [referenceNumberColumnDisplayed]="true"
                       [isPending]="isPending">
        </invoices-list>
    </div>

</div>
