
<form class="row align-bottom" [formGroup]="searchForm">
    <div class="columns small-10">
        <input class="input search" type="text" placeholder="{{'invoice.search.name' | translate}}"
               formControlName="query">
    </div>

    <div class="columns auto margin-left-24">
        <div class="row">
            <div class="columns small-12">
                <p class="title-section">Entre</p>
                <div class="date-picker columns shrink">
                    <div class="invoiceSelect-date">
                        <a-date-picker formControlName="startDate"></a-date-picker>
                    </div>
                </div>
            </div>

            <div class="columns small-12">
                <p class="title-section">Et</p>
                <div class="date-picker columns shrink">
                    <div class="invoiceSelect-date">
                        <a-date-picker formControlName="endDate"></a-date-picker>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a-button-default size="LARGE" visibility="HIGH">
        <i class="far fa-file-excel"></i>
        {{'analyze.sales.export' | translate}}
    </a-button-default>
</form>
<!--<button class="round medium buttonContainer-green">-->
<!--    <i class="fas fa-file-excel"></i>-->
<!--</button>-->


<invoices-list [invoices]="invoices | orderBy: filterString"
               [referenceNumberColumnDisplayed]="true"
               [isPending]="isPending">
</invoices-list>
