@import 'src/styles/base-component';

@include new('navigation') {
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: column;
  width: rem-calc($navigation-menu-width-sm);
  min-height: 100vh;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.4);
  z-index: 1000000;
  background: $navigation-menu-bg-color;

  @include has('logo') {
    display: flex;
    justify-content: center;
    align-items: center;
    height: rem-calc($appHeader-height);

    img {
      max-width: 40%;
      max-height: 50%;
    }
  }

  @include has('menu') {
    flex: 2;
    overflow-y: auto;

    @include has('item') {
      display: flex;
      align-items: center;
      position: relative;
      text-transform: uppercase;
      color: $navigation-menu-item-color;
      cursor: pointer;
      margin: rem-calc(10px);
      height: rem-calc(44px);
      border-radius: rem-calc(40px);
      @extend %transition;
      @extend %rippleEffect;

      span {
        display: none !important;
      }

      &:hover,
      &:focus {
        @extend %transition;
        color: white;
        background-color: rgba($app-primary_medium, 0.3);
      }

      i {
        display: inline-block;
        vertical-align: middle;
        font-size: rem-calc(17px);
        text-align: center;
        width: rem-calc(44px);
        height: rem-calc(44px);
        line-height: rem-calc(44px);
      }

      @include when('isActive') {
        color: white;
        background-color: rgba($app-primary_medium, 0.5);

      }

      @include has('notif') {
        display: block;
        position: absolute;
        top: 50%;
        right: rem-calc(8px);
        transform: translate(-50%, -50%);
        height: rem-calc(24px);
        min-width: rem-calc(24px);
        padding: rem-calc(3px);
        border-radius: rem-calc(16px);
        text-align: center;
        font-size: rem-calc(11px);
        font-weight: bold;
        line-height: rem-calc(17px);
        color: white;
        background-color: $app-error;
        cursor: pointer;
        animation: pulse 1s infinite;
      }
    }

    @include has('icon') {
      position: relative;
      top: rem-calc(-1px);
      width: rem-calc(20px);
      margin-right: rem-calc(12px);
    }
  }

  &:hover {
    width: rem-calc($navigation-menu-width-md);

    @include breakpoint(large only) {
      width: rem-calc($navigation-menu-width-lg);
    }

    .navigation-menu-logo {

    }

    .navigation-menu {

      .navigation-menu-item {
        span {
          display: inline-block !important;
          font-size: 14px;
          text-transform: capitalize;
          font-weight: 500;
          letter-spacing: 0.5px;
        }
      }

    }

    .navigation-menu-logout {

      .logout-button {
        span {
          display: inline-block !important;
        }
      }
    }

  }
}
