<!-- [CUSTOMER LIST] -->
<a-spinner [hidden]="!isPending"></a-spinner>

<!--
<table class="customerList selectable">
<tbody class="customerList-row" *ngFor="let customer of companies"
(click)="goToDetail(customer)">
    &lt;!&ndash; Table Column 1 &ndash;&gt;
    <tr>
        <td width="400">
            <div class="customerList-item-label">{{'customers.label.name' | translate}}:</div>
        </td>
        <td>
            <span class="customerList-item-label">{{'customers.label.lastSent' | translate}}:<br></span>
            <span class="customerList-item-value inner-space-left-40"> {{customer.commercialRelationship.lastSendDate | date: 'dd MMM. yyyy'}}</span>
        </td>
        <td>
            <span class="customerList-item-label">{{'customers.label.contact' | translate}}:</span>
        </td>
        <td>
            <div class="customerList-item-label text-right">{{'customers.label.number' | translate}}</div>
            <span class="customerList-item-label">{{'customers.label.lastFinancialYear' | translate}}: </span>
            <span class="customerList-item-value float-right">{{customer.commercialRelationship.companyMetrics.previousYear?.nbInvoices}}</span>
        </td>
        <td>
            <div class="customerList-item-label text-right">{{'customers.label.ca' | translate}}</div>
            <span class="customerList-item-value float-right">{{(customer.commercialRelationship.companyMetrics.previousYear?.paid +
                customer.commercialRelationship.companyMetrics.previousYear?.invoiced +
                customer.commercialRelationship.companyMetrics.previousYear?.expected +
                customer.commercialRelationship.companyMetrics.previousYear?.expired) | invoiceCurrency}}</span>
        </td>
    </tr>

    &lt;!&ndash; Table Column 2 &ndash;&gt;
    <tr>
        <td rowspan="4">
            <div class="customerList-item-value">
                <a class="customer-name" [routerLink]="['/customers/detail/' + customer._id]">{{customer.name}}</a>
            </div>
        </td>
        <td rowspan="2">
            <span class="customerList-item-label">{{'customers.label.lastPayment' | translate}}: <br></span>
            <span class="customerList-item-value inner-space-left-40">{{customer.commercialRelationship.lastPaymentDate | date: 'dd MMM. yyyy' }}</span>

        </td>
        <td rowspan="2">
            <span class="customerList-item-value inner-space-left-40">{{customer.emailAddress}}</span>
        </td>
        <td class="force-inner-space-bottom-0">
            <span class="customerList-item-label">{{'customers.label.financialYear' | translate}}:</span>
            <span class="customerList-item-value float-right">{{customer.commercialRelationship.companyMetrics.currentYear?.nbInvoices}}</span>
        </td>
        <td class="force-inner-space-bottom-0 float-right">
            <span class="customerList-item-value">{{(customer.commercialRelationship.companyMetrics.currentYear?.paid +
                customer.commercialRelationship.companyMetrics.currentYear?.invoiced +
                customer.commercialRelationship.companyMetrics.currentYear?.expected +
                customer.commercialRelationship.companyMetrics.currentYear?.expired) | invoiceCurrency }}
            </span>
        </td>
    </tr>

    &lt;!&ndash; Table Column 3 &ndash;&gt;
    <tr>
        <td>
            <span class="customerList-item-label">{{'customers.label.nextFinancialYear' | translate}}:</span>
            <span class="customerList-item-value float-right">{{customer.commercialRelationship.companyMetrics.nextYear?.nbInvoices}}</span>
        </td>
        <td>
            <span class="customerList-item-value float-right">{{(customer.commercialRelationship.companyMetrics.nextYear?.paid +
                customer.commercialRelationship.companyMetrics.nextYear?.invoiced +
                customer.commercialRelationship.companyMetrics.nextYear?.expected +
                customer.commercialRelationship.companyMetrics.nextYear?.expired) | invoiceCurrency}}</span>
        </td>
    </tr>
</tbody>
</table>
-->


<div class="customerList cell auto">
    <div class="customerList-head">
        <div class="grid-x grid-padding-x">
            <div class="cell phone-4">{{'customers.label.name' | translate}}</div>
            <div class="cell phone-3">{{'newCustomer.label.siren' | translate}}</div>
            <div class="cell phone-4">{{'customers.label.contact' | translate}}</div>
            <div class="cell phone-3">{{'newCustomer.label.caInvoiced' | translate}}</div>
            <div class="cell phone-4">{{'newCustomer.label.manager' | translate}}</div>
            <div class="cell phone-3">{{'newCustomer.label.lastSent' | translate}}</div>
            <div class="cell phone-3">{{'newCustomer.label.lastPayment' | translate}}</div>
        </div>
    </div>

    <div class="customerList-line">
        <div class="grid-x grid-padding-x line-block align-middle" *ngFor="let customer of companies" (click)="goToDetail(customer)">
            <div class="cell phone-4">
                <span class="customerList-value">{{customer.name}}</span>
            </div>
            <div class="text-click cell phone-3">
                <span class="customerList-value">{{customer.siren}}</span>
            </div>
            <div class="text-click cell phone-4">
                <span class="customerList-value">{{customer.emailAddress}}</span>
            </div>
            <div class="text-click cell phone-3">
                <span class="customerList-value">{{customer.commercialRelationship.companyMetrics.currentYear.invoiced}}</span>
            </div>
            <div class="text-click cell phone-4">
                <span class="customerList-value">{{customer.commercialRelationship.customerManagerRef}}</span>
            </div>
            <div class="text-click cell phone-3">
                <span class="customerList-value">{{customer?.commercialRelationship?.lastSendDate | date: 'dd MMM. yyyy'}}</span>
            </div>
            <div class="cell phone-3">
                <span class="customerList-value">{{customer?.commercialRelationship?.lastPaymentDate | date: 'dd MMM. yyyy'}}</span>
            </div>
        </div>

    </div>
</div>




