@import '../../../../../../../styles/base-component';

:host {
  display: block;
  width: fit-content;
}

button, .button {
  &._cancel {
    transition: all 0.2s;
    background-color: transparent;
    color: $app-primary;
    border: 0.1rem solid $app-primary;

    &:hover {
      background-color: $app-primary;
      color: white;
      transition: all 0.2s;
      border: 0.1rem solid $app-primary;

      i {
        color: white;
      }
    }

    i {
      color: $app-primary;
    }
  }

  &:disabled, &._disabled {
    color: $app-disabled-fontColor;
    background-color: $app-disabled-bgColor;

    &:hover {
      color: $app-disabled-fontColor;
      background-color: $app-disabled-bgColor;
    }
  }
}

