@import '../../../../styles/base-component';
.status-panel-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(black, 0.5);
  z-index: 9999999;

  .quick-status-panel {
    background-color: $white;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: $global-radius 0 $global-radius $global-radius;
    padding: rem-calc(30px);

    @include breakpoint(large) {
      width: 1000px;
    }
    @include new('title-section') {
      font-size: rem-calc(14px);
      margin-bottom: rem-calc(4px);
    }

    &-close {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: rem-calc(-24px);
      right: rem-calc(-62px);
      height: rem-calc(38px);
      width: rem-calc(38px);
      color: $app-primary;
      background: $app-primary_light;
      cursor: pointer;
      border-radius: 0 rem-calc(5px) rem-calc(5px) 0;
      margin: rem-calc(24px);
      @extend %transition;

      &:hover {
        @extend %transition;
          background: $app-primary;
          color: white;
      }
    }

    &-content {
      width: 100%;
    }

    table {
      margin-bottom: rem-calc(40px);
      tbody {
        height: auto;
        background-color: rgba($app-primary_light, .15);

         tr:hover {
            background: none;
         }
      }
    }
  }
}
