@import 'src/styles/base-component';

@include new('title') {
    padding: rem-calc(0px 32px 24px 32px);
    font-weight: bold;
    color: white;
    font-size: rem-calc(30px);
}

@include new('subtitleContainer') {
    padding: rem-calc(16px 0);
}

@include new('listTab') {
    background: rgba($app-secondary, 0.025);
    border-radius: 8px;
    height: 72vh;
    margin: rem-calc(8px 32px 8px 8px);
    padding: rem-calc(0 32px);
    width: 100%;
    overflow: hidden;

    &.leftTab {
        table {
            margin-top: rem-calc(56px);
        }
    }

    &.rightTab {
        table {
            margin-top: rem-calc(16px);
        }
    }

    h5 {
        font-weight: bold;
        margin: rem-calc(16px 0);
    }
}

tbody {
    height: 47vh;
}

@include new('inputContainer') {
    position: relative;

    p {
        position: absolute;
        display: flex;
        justify-content: center;
        right: rem-calc(8px);
        top: rem-calc(-18px);
        padding: rem-calc(8px 16px);
        background: white;
        color: $app-secondary;
        font-weight: bold;
        min-width: rem-calc(80px);
        font-size: rem-calc(12px);

        &:before {
            content: "";
            position: absolute;
            right: rem-calc(4px);
            top: rem-calc(4px);
            border-radius: rem-calc(3px);
            padding: rem-calc(14px 16px);
            background: rgba($app-secondary, 0.15);
            min-width: rem-calc(70px);
        }
    }
}
