<form novalidate *ngIf="sellerSettingsModel" #sellerSettingsForm="ngForm">
    <div class="headerContainer">
        <div class="row">
            <div class="column small-12">
                <div class="listTab leftTab">
                    <div class="row align-middle subtitleContainer">
                        <div class="columns">
                            <h5>{{'seller.settings.vat.title' | translate}}</h5>
                        </div>
                        <div class="columns text-right">
                            <button class="button small primary ripple" (click)="addVatRate()">
                                <i class="fas fa-plus"></i>
                                <span>{{'seller.settings.vat.button.add.tva' | translate}}</span>
                            </button>
                        </div>
                    </div>
                    <div>
                        <table>
                            <thead>
                            <tr>
                                <th width="250px">{{'seller.settings.vat.table.label'|translate}}</th>
                                <th width="250px">{{'seller.settings.vat.table.rate'|translate}}</th>
                                <th width="250px">{{'seller.settings.vat.table.account.number'|translate}}</th>
                                <th width="100px">{{'seller.settings.vat.table.actions'|translate}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let vatRate of sellerSettingsModel.vatRates; index as i">
                                <td width="250px">
                                    <input [(ngModel)]="vatRate.label" type="text" required
                                           [name]="'label' + i"/>
                                </td>
                                <td width="250px">
                                    <input [(ngModel)]="vatRate.rate" type="number" step="0.1" required min="0"
                                           class="text-right"
                                           [name]="'rate' + i"/>
                                </td>
                                <td width="250px">
                                    <input [(ngModel)]="vatRate.accountNumber" type="text" required
                                           class="text-right"
                                           [name]="'vatAccountNumber' + i">
                                </td>
                                <td width="100px">
                                    <button class="round medium red ripple" (click)="deleteVatRate(i)">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="column small-12">
                <div class="listTab rightTab">
                    <div class="row align-middle subtitleContainer">
                        <div class="columns">
                            <h5>{{'seller.settings.accountant.reference'|translate}}</h5>
                        </div>
                        <div class="columns text-right">
                            <button class="button small primary ripple"
                                    (click)="addServiceReference(selectedServiceKind)">
                                <i class="fas fa-plus"></i>
                                {{'seller.settings.vat.button.add.ref' | translate}}
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <service-kind-select class="columns small-10"
                                             [ngModel]="selectedServiceKind"
                                             name="serviceref"
                                             (ngModelChange)="selectServiceKind($event)">
                        </service-kind-select>
                    </div>
                    <table>
                        <thead>
                        <tr>
                            <th width="350px">{{'seller.settings.accountant.reference.vat'|translate}}</th>
                            <th width="350px">{{'seller.settings.accountant.reference.accountant.number'|translate}}</th>
                            <th width="100px">{{'seller.settings.accountant.reference.actions'|translate}}</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr *ngFor="let serviceReference of getServiceReferences(selectedServiceKind);index as k">
                            <td width="350px">
                                <span>
                                   <accountant-vat-select [name]="'vatRate' + k"
                                                          [accountantVatRateList]="sellerSettingsModel.vatRates"
                                                          [ngModel]="serviceReference.vatRate"
                                                          (ngModelChange)="vatRateChanged($event, serviceReference)">
                                   </accountant-vat-select>
                                </span>
                            </td>
                            <td width="350px">
                                <input [(ngModel)]="serviceReference.accountNumber" type="text"
                                       required
                                       class="text-right"
                                       [name]="'accountNumber' + k"/>
                            </td>
                            <td width="100px">
                                <button class="round medium red ripple"
                                        (click)="deleteServiceReference(serviceReference)">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="column buttonContainer">
        <button class="button medium grey ripple" (click)="cancel()"
                type="button">
            <i class="ion-arrow-return-left"></i>{{'button.label.cancel' | translate}}
        </button>
        <button class="button medium green ripple rightButton" (click)="save()" [disabled]="sellerSettingsForm.form.invalid">
            <i class="ion-edit"></i>
            {{'button.label.save'|translate}}
        </button>
    </div>
</form>
