@import '../../styles/base-component';

.title {
    height: rem-calc(64px);
    display: flex;
    align-items: center;
    padding: rem-calc(22px);

    span {
        color: $appHeader-color-title;
        font-weight: bold;
        font-size: rem-calc(18px);
    }
}

footer {
    padding: rem-calc(8px);
    border: 1px solid $black-squeeze;
    box-shadow: 0 1px 5px $silver-rust;
    background-color: white;
}
