@import '../../styles/base-component';

.title {
    height: rem-calc(64px);
    display: flex;
    align-items: center;
    padding: rem-calc(22px);

    span {
        color: $appHeader-color-title;
        font-weight: bold;
        font-size: rem-calc(18px);
    }
}

footer {
    display: block;
    position: relative;
    width: 100%;
    background-color: white;
    border-radius: $content-radius;
}
