//@import '../../styles/base-component';
//
table {
    thead {
        display: block;
        background: $table-header;
        color: $app-grey;
        font-size: rem-calc(12px);
        border-radius: 8px 8px 0 0;
        border: none;

        tr {
            display: block;
        }
    }

    th {
        border: none;
        padding: rem-calc(16px);
    }

    tbody {
        display: block;
        width: 100%;
        overflow: auto;
        height: 65vh;
        border-radius: 0 0 8px 8px;
        box-shadow: inset 0 10px 23px -21px rgb(181, 181, 181);

    tr {
        width: auto;

            &:nth-child(even) {
                background: $table-line
            }

            &:hover {
                background: $table-line-hover;
            }
        }

        td {
            padding: rem-calc(8px 10px);

            span {
                color: $body-dark-font-color;
                font-weight: 500;
            }
        }
    }
}
