// -----------------------------------------------------------------------------
// This file contains all styles related to the CONTENT layout.
// -----------------------------------------------------------------------------

.general-container {
  display: block;
  height: 100%;
}

.content {
  display: block;
  height: 100%;
  background-color: $app-body-fontColor;
  padding: rem-calc(20px);
}

.container {
  height: 100vh;
  padding-left: $navigation-menu-width-sm;

  @include breakpoint(large only) {
    padding-left: rem-calc($navigation-menu-width-sm);
  }
}

// ==== Bloc container

.block-container {
  margin-top: rem-calc(12px);
  padding: rem-calc(16px);
  background-color: white;
  border: rem-calc(1px) solid #ececec;
  border-radius: $global-radius;
  z-index: -1;
}
