@import 'src/styles/base-component';
.invoice-line-container {
  display: flex;
  align-items: center;

  .btn-updown {
    border: 2px solid #E3EAF3;
    width: 2rem;
    height: 2rem;
    padding: 0.3rem;

    &.disabled {
      background-color: $app-disabled;
    }

    img {
      display: block;
    }

    &:hover {
      background-color: #E3EAF3;
    }
  }

  .hidden-btn {
    visibility: hidden;
  }
}
