<div class="invoice-detail-container">
    <form novalidate #invoiceForm="ngForm" class="grid-y">
        <div class="invoice-header cell shrink grid-x">
            <a-button-default size="SMALL" visibility="LOW" (click)="goBack()" class="cell shrink">
                <i class="ion-arrow-left-c"></i> {{'button.label.back' | translate}}
            </a-button-default>
            <h2 class="cell phone-16">{{invoice.buyer?.name}}</h2>
            <div class="cell auto grid-x align-right">
                <a-invoice-status [statusLabel]="invoice.status"></a-invoice-status>
            </div>
        </div>

        <div class="align-center cell shrink">
            <div class="filterContainer grid-x grid-padding-x">
                <div class="cell phone-16 detailFilter">
                    <div class="grid-x grid-padding-x">
                        <div class="cell phone-12">
                            <label>{{'invoice.detail.customer' | translate}}</label>
                            <a-customer-select name="customer" [(ngModel)]="invoice.buyer"></a-customer-select>
                        </div>
                        <div class="cell phone-12">
                            <label>{{'invoice.detail.customer.reference'|translate}}</label>
                            <input type="text" name="customerReference" [(ngModel)]="invoice.customerInvoiceRef">
                        </div>
                    </div>
                    <div class="grid-x grid-padding-x">
                        <div class="cell phone-12">
                            <label>{{'invoice.detail.business' | translate}}</label>
                            <a-business-select name="business"
                                               [customerRef]="invoice.buyer?._id"
                                               [(ngModel)]="invoice.business">
                            </a-business-select>
                        </div>
                        <div class="cell phone-9">
                            <label>{{'invoice.detail.service.kind'|translate}}</label>
                            <a-service-kind-select name="kind" [(ngModel)]="invoice.kind"></a-service-kind-select>
                        </div>
                        <div class="cell phone-3 vat-block">
                            <label>{{'invoice.detail.with.vat'|translate}}</label>
                            <a-toggle name="withVat" [ngModel]="invoice.withVAT"
                            (ngModelChange)="withVATChanged($event)"></a-toggle>
                        </div>
                    </div>
                    <div>
                        <label>{{'invoice.detail.object'|translate}}</label>
                        <textarea type="text" name="object" [(ngModel)]="invoice.object"
                                  rows="3" cols="20">
                    </textarea>
                    </div>
                </div>
                <div class="cell phone-6 detailFilter right-detail">
                    <div class="grid-x grid-padding-x">
                        <div class="cell phone-24">
                            <label>{{'invoice.detail.referenceNumber'|translate}}</label>
                            <input type="text" name="reference" [(ngModel)]="invoice.reference">
                        </div>
                        <div class="cell phone-24">
                            <label>{{'invoice.detail.invoice.date'|translate}}</label>
                            <a-date-picker name="invoiceDate" [ngModel]="invoice.date"
                                           (ngModelChange)="invoiceDateChanged($event)"></a-date-picker>
                        </div>
                        <div class="cell phone-24">
                            <label>{{'invoice.detail.sent.date'|translate}}</label>
                            <span>{{invoice.sentDate ? (invoice.sentDate | invoiceDate) : 'N/A'}}</span>
                        </div>
                        <div class="cell phone-24">
                            <label>{{'invoice.detail.due.date'|translate}}</label>
                            <a-date-picker name="dueDate" [(ngModel)]="invoice.dueDate"></a-date-picker>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="invoicing-block cell auto">
            <div class="invoicing-head">
                <div class="grid-x grid-padding-x">
                    <div class="cell phone-1"></div>
                    <div class="cell phone-9">{{'invoice.line.label'|translate}}</div>
                    <div class="cell phone-2 grid-x align-center">{{'invoice.line.quantity'|translate}}</div>
                    <div class="cell phone-3 grid-x align-right">{{'invoice.line.unit.cost'|translate}}</div>
                    <div class="cell phone-3 grid-x align-right">{{'invoice.line.gross.amount'|translate}}</div>
                    <div class="cell phone-4 grid-x align-right">{{'invoice.line.vat.rate'|translate}}</div>
                    <div class="cell phone-2"></div>
                </div>
            </div>
            <div class="invoicing-line-block" dndDropzone
                 dndEffectAllowed="copyMove"
                 (dndDrop)="onDrop($event)">
                <div class="lineDragging"
                     dndPlaceholderRef>
                </div>
                <ng-container *ngFor="let line of invoice.lines; index as i; trackBy:trackByLineCode">
                    <a-invoice-line
                            class="lineDragging"
                            [name]="'line' + i"
                            [ngModel]="line"
                            (ngModelChange)="lineUpdated()"
                            [invoice]="invoice"
                            [reorderEnabled]="true"
                            [editActionEnabled]="true"
                            [validateActionEnabled]="true"
                            [deleteActionEnabled]="true"
                            [buyer]="invoice.buyer"
                            (lineRemovedEventEmitter)="lineRemoved()"
                            [dndDraggable]="line"
                            [dndEffectAllowed]="'copyMove'"
                            >
                    </a-invoice-line>
                </ng-container>
            </div>
            <div class="invoicing-line-footer">
                <a-invoice-line
                        name="newLine"
                        [editable]="true"
                        [invoice]="invoice"
                        [ngModel]="newLine"
                        [addActionEnabled]="true"
                        [buyer]="invoice.buyer"
                        (lineAddedEventEmitter)="lineAdded()">

                </a-invoice-line>
            </div>
            <div class="total-line">
                <div class="grid-x grid-padding-x align-middle">
                    <div class="cell phone-12"></div>
                    <div class="cell phone-6 grid-x">
                        <div class="cell phone-12 grid-x grid-padding-x align-right title-total">
                            <span>{{'invoice.line.total.gross.amount'|translate}}</span>
                            <span *ngIf="invoice.withVAT">{{'invoice.line.total.vat'|translate}}</span>
                            <span>{{'invoice.line.total.net.amount'|translate}}</span>
                        </div>
                        <div class="cell phone-12 grid-x align-right amount-line">
                            <span>{{(invoice.grossAmount ? invoice.grossAmount : 0)  | invoiceCurrency}}</span>
                            <span *ngIf="invoice.withVAT">{{(invoice.vatAmount ? invoice.vatAmount : 0)  | invoiceCurrency}}</span>
                            <span>{{(invoice.netAmount ? invoice.netAmount : 0)  | invoiceCurrency}}</span>
                        </div>
                    </div>
                    <div class="cell phone-6"></div>
                </div>
            </div>
        </div>

        <div class="cell shrink footer-container">
            <attachments-detail [invoice]="invoice"
                                [uploader]="uploader"
                                [attachmentsToRemove]="filesToDelete"
                                (deleteFiles)="deleteFiles($event)">
            </attachments-detail>
            <div class="control-bar grid-x">
                <div class="cell phone-12" >
                    <a-button-cancel (click)="delete()" *ngIf="invoice._id">
                        <i class="far fa-trash-alt"></i>
                        {{'button.label.delete' | translate}}
                    </a-button-cancel>
                </div>
                <div class="cell phone-12 grid-x align-right">
                    <a-button-default (click)="download()">
                        <i class="fas fa-download"></i>
                        {{'button.label.download' | translate}}
                    </a-button-default>
                    <a-spacer [sizeX]="10"></a-spacer>
                    <a-button-default>
                        <i class="fas fa-copy"></i>
                        {{'button.label.copy' | translate}}
                    </a-button-default>
                    <a-spacer [sizeX]="10"></a-spacer>
                    <a-button-default (click)="save()"
                                      [disabled]="invoiceForm.invalid"
                                      visibility="HIGH">
                        <i class="fas fa-save"></i>
                        {{'button.label.save' | translate}}
                    </a-button-default>
                </div>
            </div>
        </div>
    </form>
</div>
