@import 'src/styles/base-component';

:host {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.invoice-detail-container {
  height: 100%;
}

.invoice-header {
  padding: rem-calc(16px);

  h2 {
    line-height: rem-calc(30px);
    margin-left: rem-calc(12px);
    color: $app-primary;
    font-size: rem-calc(15px);
  }

  select {
    margin: 0 !important;
    height: 30px;
    font-weight: bold;
    width: auto;
    border-radius: 17px;
    padding-left: 13px;
    color: #FFC107;
    border: 1px solid #FFC107!important;
    background-color: #ffc1071f;
  }
}

@include new('filterContainer') {
  justify-content: space-between;

  .vat-block {
    max-height: rem-calc(55px);
    overflow: hidden;
  }

}

form {
  border-radius: 8px;
  padding: 0 rem-calc(16px);
}

@include new('detailFilter') {
  &.right-detail {
    background: rgba(16, 17, 163, 0.025);
    border-radius: rem-calc(8px);
    padding: rem-calc(10px 16px);
  }

  @include has('wrapper') {
      margin: rem-calc(8px 0);
  }
}

@include new('footerStyle') {
    padding: rem-calc(16px);
}

.invoicing-block {
  padding: rem-calc(16px) rem-calc(16px) 0;
  min-height: 36%;

  .invoicing-head {
    display: block;
    background: $app-primary_light;
    color: rgba($app-primary, 0.7);
    font-size: rem-calc(12px);
    border-radius: 8px 8px 0 0;
    border: none;
    font-weight: 600;
    padding: rem-calc(15px);
  }
  .invoicing-line-block {
    min-height: calc(100% - 186px);
    max-height: calc(100% - 186px);
    overflow: scroll;

    .invoicing-line {
      padding: rem-calc(8px) rem-calc(15px);

      &:nth-child(even) {
        background: rgba(221, 222, 243, 0.15);
      }

      .drag-drop-icon {
        color: $app-grey;
        &:hover {
          color: $app-primary;
          cursor: move;
        }
      }
    }
  }
  .action-icon {
    padding: 0;
    width: rem-calc(25px);
    height: rem-calc(25px);
    margin-bottom: 0;
    border-radius: 50%;
    transition: all 0.2s;
    color: $app-primary;
    background-color: transparent;
    border:  1px solid rgba($app-primary, .5);
    margin-left: rem-calc(5px);

    &.edit-action:hover {
      background-color: $app-primary;
      border-color: $app-primary;
      color: white;
      cursor: pointer;
    }
    &.delete-action:hover {
      background-color: $app-error;
      border-color: $app-error;
      color: white;
      cursor: pointer;
    }
    &.validate-action:hover {
      background-color: $app-success;
      border-color: $app-success;
      color: white;
      cursor: pointer;
    }

    i {
      font-size: rem-calc(14px);
    }
  }
  .invoicing-line-footer {
    padding: rem-calc(10px) rem-calc(15px);
    background-color: rgba($app-primary_light, 0.3);
    border-radius: 0 0 rem-calc(5px) rem-calc(5px);
  }
  .totaux-line {
    padding: 1rem 1.5rem;
    background-color: #dddff3;
    border-radius: 0 0 8px 8px;

    span {
      width: 100%;
      text-align: right;
    }

    .phone-17 span {
      color: $app-primary;
    }

  }
}
.footer-container {
  margin-top: rem-calc(45px);
}
.footer-invoice {
  padding: rem-calc(15px);
  margin-top: rem-calc(16px);
  width: 100%;
  background-color: rgb(246, 249, 251);
  border-radius: 0 0 rem-calc(5px) rem-calc(5px);
  position: absolute;
  bottom: 65px;

  .import-files-invoice {
    border: 2px dashed rgba($app-primary, 0.4);
    background-color: rgba($app-primary_light, 0.5);
    text-align: center;
    border-radius: 5px;
    height: 80px;

    p {
      color: $app-primary;
      margin-top: rem-calc(10px);
      margin-bottom: rem-calc(5px);
      display: block;
      width: 100%;
    }
    i {
      font-size: 12px;
      margin-right: rem-calc(8px);
    }
  }
  .list-files {

    ul {
      height: 80px;
      overflow: scroll;

      li {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 7px;
        border-bottom: 1px solid #cacaca9c;

        span {
          color: rgba(black, 0.6);
          i {
            margin-right: 5px;
          }
        }
        .fa-trash-alt {
          color: $app-primary;
        }
      }
    }
  }

  &.close {
    height: 28px;
    padding: 4px;

    textarea, .import-files-invoice, .list-files ul {
      display: none;
    }

    label {
      color: $app-primary;
    }

    .dropdownBlock-button {
      position: absolute;
      right: 0px;
      bottom: 0px;
      background-color: #62636524;
      border-radius: 3px;
      padding: 5px 7px;
      color: #626365;
      display: flex;
      align-items: center;

      i {
        height: 10px;
        line-height: 23px;
      }
    }
  }
  &.open {
    box-shadow: 0 -7px 16px 4px #8080802e;

    .dropdownBlock-button {
      position: absolute;
      right: 0px;
      bottom: 125px;
      background-color: #62636524;
      border-radius: 3px;
      padding: 2px 7px;
      color: #626365;
      display: flex;
      align-items: center;

      i {
        height: 18px;
      }
    }
  }
}

.control-bar {
  display: flex;
  align-items: center;
  padding: 1.6rem;
  border-top: 1px solid #dddff3;
}

