// -----------------------------------------------------------------------------
// This file contains all styles related to the VARIABLES component.
// -----------------------------------------------------------------------------

/** General color style */

$app-primary :                                  #5C60C5 !default;
$app-primary_medium:                            #433ec5 !default;
$app-primary_light:                             #dddef3 !default;

$app-secondary:                                 #1011A3 !default;

$app-tertiary:                                  #00f284 !default;

$app-grey:                                      #A1AEBF !default;
$app-grey_light:                                #E9F0F5 !default;
$app-grey_medium:                               #7B8898 !default;
$app-grey_dark:                                 #7B8C9C !default;

$white :                                        #ffffff !default;
$black :                                        #000000 !default;

$app-success :                                  #34AF68 !default;
$app-warning :                                  #FBB819 !default;
$app-error :                                    #E74C3C !default;
$app-cancel :                                   #E74C3C !default;

$app-disabled :                                 #A1AEBF !default;
$app-disabled-bgColor :                         #F5F5F5 !default;
$app-disabled-fontColor :                       #C7C7C7 !default;

$app-gradient :                                 linear-gradient($app-primary, $app-secondary) !default;


/** General color settings */
$content-radius :                               8px !default;

/** Font color style */
$body-dark-font-color :                         $app-grey_dark !default;
$body-light-font-color :                        $app-grey_light !default;

/** Status color LABEL*/
$status-draft-color :                           $app-warning !default;
$status-ready-color :                           #B68CB8 !default;
$status-waiting-validation-color :              #0BC9CD !default;
$status-validated-color :                       #1D8A99 !default;
$status-sent-color :                            #533A7B !default;
$status-paid-color :                            $app-success !default;
$status-payment-scheduled-color :               #F17105 !default;
$status-late-color :                            $app-error !default;
$status-unpaid-color :                          #000 !default;
$status-cancelled-color :                       $app-grey !default;

/** Status color TAB*/
$status-tovalidate-color :                      #1D8A99 !default;
$status-toprepare-color :                       $app-warning !default;
$status-torelaunched-color :                    $app-error  !default;
$status-tosend-color :                          $app-grey_medium  !default;
$status-border-light-color :                    $app-grey_light !default;

/** Buttons color*/
$button-primary-color :                         $app-primary !default;
$button-secondary-color :                       $app-secondary !default;
$button-green :                                 $app-success !default;
$button-red :                                   $app-error !default;
$button-yellow :                                $app-warning !default;
$button-filter-color :                          $app-grey_light !default;
$button-border-dark-color :                     $app-grey !default;
$button-border-light-color :                    $app-grey_light !default;
$button-access-color :                          $app-grey !default;

/** Table color style */
$table-header :                                $app-primary_light !default;
$table-line :                                  rgba($app-primary_light, 0.15) !default;
$table-line-hover :                            rgba($app-primary_light, 0.45) !default;

/** Input color style */
$input-border-color :                          $app-grey !default;




/**
 * BODY
 * **************************************************************************************** >
 */
$app-body-font :                                 'Roboto', Arial, sans-serif !default;
$app-body-fontColor :                             $app-grey_light !default;
$app-body-blockContainer :                        calc(100vh - 105px) !default;
$app-body-bgColor :                               #eee !default;



/**
 * SIDEBAR
 * **************************************************************************************** >
 */
$sidebar-width-lg :                                190px !default;
$sidebar-width-md :                                296px !default;
$sidebar-width-sm :                                64px !default;
$sidebar-bg-color :                                $app-gradient !default;
$sidebar-item-color :                              rgba(white, 0.5) !default;
$sidebar-item-active-bg-color :                    rgba(white, 0.5) !default;
$sidebar-item-bg-color :                           $app-secondary !default;



/**
 * HEADER
 * **************************************************************************************** >
 */
$appHeader-height:                                64px !default;
$appHeader-bg-color :                             white   !default;
$appHeader-color-title :                          $app-primary_medium !default;




/**
 * HEIGHT
 * **************************************************************************************** >
 */
$height-customerFilter :                                120px !default;
$height-invoiceFilter :                                 120px !default;
$height-newCustomerHeader :                             80px !default;
$height-newCustomerAction :                             94px !default;




/**
 * PATH
 * **************************************************************************************** >
 */
/** Images path */
$path-img :                                     '../assets/images/' !default;
$path-jpg :                                     '#{$path-img}jpg/' !default;
$path-png :                                     '#{$path-img}png/' !default;
$path-svg :                                     '#{$path-img}svg/' !default;
$path-gif :                                     '#{$path-img}gif/' !default;


/** Fonts path */
$path-font:                                     '../assets/fonts/' !default;
$path-icon:                                     '#{$path-font}icon/' !default;
$path-police:                                   '#{$path-font}police/' !default;

